.body_style {
  min-width: 1024px;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 50px;

  font-family: Roboto, sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: 'wdth' 100;
  font-weight: 500;
  font-style: normal;
}

.logo {
  height: 40px;
}

.nav {
  display: flex;
  align-items: center;
}

.ul__box {
  display: flex;
  margin: 0;
  padding-left: 0;
}

.nav__link {
  display: inline-block;
  align-content: center;

  height: 60px;
  font-size: 12px;
  text-decoration: none;
  color: #000;
}

.nav__link:hover {
  color: #00acdc;
}

.nav__link:active {
  color: #00acdc;
}

.is-active::after {
  border-radius: 2px;
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #00acdc;
  display: block;
  bottom: 0;
}

.is-active {
  color: #00acdc;
  position: relative;
}

.list__style {
  margin-left: 20px;
  list-style-type: none;
}
